<%- include('../partials/header') %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Proud Creations!</h1>
    <p class="lead">
      Here you can share your Creations or Achievements with everyone and
      recieve feedback and support from fellow creators. This is a safe space in
      which you can freely interact with other users who may be interested in
      the same things. Below are some examples of creations and achievements
      that you are welcomed to post about.
    </p>
  </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/cooking.jpg" class="card-img-top" alt="cooking image">
            <div class="card-body">
              <h5 class="card-title">Cooking</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/sowing.jpg" class="card-img-top" alt="sowing clothing">
            <div class="card-body">
              <h5 class="card-title">Sowing</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/croche.jpg" class="card-img-top" alt="crocheing">
            <div class="card-body">
              <h5 class="card-title">crocheting</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
        </div>
      </div>
</div>
<br />
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/legos.jpg" class="card-img-top" alt="lego display">
            <div class="card-body">
              <h5 class="card-title">Custom Builds</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/3dprint.jpg" class="card-img-top" alt="3d Printed Dragon image">
            <div class="card-body">
              <h5 class="card-title">3D Printing</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/league.jpg" class="card-img-top" alt="league of legends promotion image">
            <div class="card-body">
              <h5 class="card-title">Game Achievements</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
        </div>
      </div>
</div>
<br />
<%- include('../partials/footer') %>
