<%- include('../partials/header') %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Proud Creations!</h1>
    <p class="lead">
      Here you can share your Creations or Achievements with everyone and
      recieve feedback and support from fellow creators. This is a safe space in
      which you can freely interact with other users who may be interested in
      the same things. Below are some examples of creations and achievements
      that you are welcomed to post about.
    </p>
  </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/cooking.jpg" class="card-img-top" alt="cooking image">
            <div class="card-body">
              <h5 class="card-title">Cooking</h5>
              <p class="card-text">Have you cooked something new and exciting, or just made something you have had a hard time making? Even if you just want to share a recipe, you can post all about it.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/sowing.jpg" class="card-img-top" alt="sowing clothing">
            <div class="card-body">
              <h5 class="card-title">Sowing</h5>
              <p class="card-text">There are many of our users who are clothes designers who need ideas of what to make. You can share your ideas with other or help others make their ideas come to life. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/croche.jpg" class="card-img-top" alt="crocheing">
            <div class="card-body">
              <h5 class="card-title">crocheting</h5>
              <p class="card-text">Show off your awesome crocheing techniques. There are many interesting things that people have created such as the jellyfish shown above, crocheing is not only about making hats and scarfs.</p>
            </div>
          </div>
        </div>
      </div>
</div>
<br />
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/legos.jpg" class="card-img-top" alt="lego display">
            <div class="card-body">
              <h5 class="card-title">Custom Builds</h5>
              <p class="card-text">How creative can you be? With legos, your imagination is the limit, with the right pieces there is nothing that cant be made. Show us what you are capable of.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/3dprint.jpg" class="card-img-top" alt="3d Printed Dragon image">
            <div class="card-body">
              <h5 class="card-title">3D Printing</h5>
              <p class="card-text">3D printing is the new rave, if you can design it, you can print it. Share your ideas and images of items you have printed. Anywhere from flower pots, and small toys, to 3D printed dragons and prosthetics, we want to see it all.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/league.jpg" class="card-img-top" alt="league of legends promotion image">
            <div class="card-body">
              <h5 class="card-title">Achievements</h5>
              <p class="card-text">We do not only care about things which can be made but also achievements that are hard to get. You can post your academic, game, or personal achievements</p>
            </div>
          </div>
        </div>
      </div>
</div>
<br />
<%- include('../partials/footer') %>
