<%- include('../partials/header') %>
<br />
<h3>
  <div>
    <div class="panel-heading text-center">
      <img src="<%= user.avatar %>" class="img-circle" width="300" />
      <br />
      <h2><%= user.name %></h2>
    </div>
  </div>
</h3>
<%- include('../partials/footer') %>
