<%- include('../partials/header2') %>
<h1>Show off to the world!</h1>
<div class="container">
  <form method="post" id="post-form" action="/posts" enctype="multipart/form-data">
    <div class="image-preview" id="imagePreview">
      <img src="" alt="Image Preview" class="image_preview" />
      <span class="image_default">Image Preview</span>
    </div>
    <input type="file" onchange="preview()" name="img" id="imginput" accept="image/png, image/gif, image/jpeg" required/>
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name" required/>
    <br>
    <label for="description">Description:</label>
    <br>
<textarea id="description" name="description" placeholder="Description here..." required>
</textarea>
<br>
    <input type="submit" value="Submit" />
  </form>
</div>
<%- include('../partials/footer') %>
